<head>
  <title>Testing purposes</title>
  <meta charset="UTF-8">
</head>
<body>
  <p>NAME OF APP</p>

  <div>
    <form action="" method="post">
      <div>
        <label for="email">Email:</label>
        <input type="text">
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="text">
      </div>
  
      <div>
        <label for="Name">Username:</label>
        <input type="text">
      </div>
    </form>
  </div>
  
  <button>Submit</button><br>

  <a href="login">Go to login</a>

</body>
